body {
    width: 1440px;
    height: 1024px;
    margin: 0 auto;

}

header {
    width: 1440px;
    height: 200px;
    background-color: #7775816a;
    display: flex;
}

ul {
    text-align: center;
}

header img {
    width: 200px;
    height: 200px;
}

li {
    width: 270px;
    height: 50px;
    background-color: #7f5e5efe;
    color: #000;
    padding: 2px;
    display: inline-block;
    font-size: 30px;
    margin: auto;
}

a {
    text-decoration: none;
    font-size: 40px;
    font-family: Trebuchet MS, sans-serif;
    color: rgba(255, 255, 255, 0.729);
}

.bordure {
    display: block;
    width: 1440px;
    height: 100px;
    background: rgb(239, 6, 181);
}

.centre {
    display: flex;
}

article {

    width: 1000px;
    height: 500px;
    margin-top: 10px;
    padding: 3%;
    background: rgba(195, 185, 185, 0.699);
}

aside {
    width: 340px;
    height: 585px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 1px;
    background-color: rgb(29, 196, 29);
}

.para {
    float: left;
}


.para2 {
    float: left;
}


p1 {
    display: block;
    width: 720px;
    height: 200px;
    margin-top: 10px;
    background: yellow;
}

p2 {

    display: block;
    width: 720px;
    height: 200px;
    margin-top: 10px;
    background: red;
}

p3 {

    display: block;
    width: 720px;
    height: 200px;
    margin-top: 10px;
    background: blue;
}

p4 {

    display: block;
    width: 720px;
    height: 200px;
    margin-top: 10px;
    background: green;
}

@media all and (max-width:800px) {
    body {
        background-color: red;
        width: 500px;
        height: 300px;
    }

    header {
        width: 1440px;
        height: 200px;

        display: flex;
    }



    header img {
        width: 200px;
        height: 200px;
    }

    li {
        width: 270px;
        height: 50px;

        padding: 2px;
        display: inline-block;
        font-size: 30px;
        margin: auto;
    }

    a {
        text-decoration: none;
        font-size: 40px;

    }

    .bordure {
        display: block;
        width: 1440px;
        height: 100px;

    }



    article {

        width: 100%;
        height: 1000px;
        margin-top: 10px;
        padding: 3%;

    }

    aside {
        width: 100%;
        height: 1000px;

        margin-left: 10px;
        margin-top: 10px;
        padding: 1px;

    }

    .para {
        display: inline-flex;
    }

    .para2 {
        display: inline-flex;
    }


    p1 {
        display: block;
        width: 720px;
        height: 200px;
        margin-top: 10px;

    }

    p2 {

        display: block;
        width: 720px;
        height: 200px;
        margin-top: 10px;

    }

    p3 {

        display: block;
        width: 720px;
        height: 200px;
        margin-top: 10px;

    }

    p4 {

        display: block;
        width: 720px;
        height: 200px;
        margin-top: 10px;

    }

}